<header class="site-header">

  <nav>
    <div class="item-menu"><a class="active" href="#abertura">ABERTURA</a></div>
    <div class="item-menu"><a clas="active" href="#politicahacker">POLÍTICA HACKER</a></div>
    <div class="item-menu"><a href="#valores">CRENÇAS E VALORES</a></div>
    <img class"logo" src="../img/logo.png"> 
    <div class="item-menu"><a href="#tecnologias">TECNOLOGIAS</a></div>
    <div class="item-menu"><a href="#quem">QUEM É O MARKUN?</a></div>
    <div class="item-menu"><a href="#colajunto">COLA JUNTO!</a></div>


</nav>

</header>
